<div class="container main-container">
  <h3>Interpolation</h3>

  <p>O numero de clicks é {{ countClick }}</p>

  <h3>Property Binding</h3>

  <button class="btn btn-info" [disabled]=" countClick >= 10 ">Info</button><br>

  <br>
  <br>
  <br>

  <h3>Event Binding</h3>

  <button class="btn btn-warning" (click)="addClick()">Clique</button> &nbsp;
  <button class="btn btn-danger" (click)="zeraClick()" [disabled]="countClick < 10">Zere</button>

  <br>
  <br>
  <br>

  <h3>Two Way Binding</h3>

  <!-- <input type="text" (keyup)="keyUp($event)" placeholder="Digite seu nome">
  <br>
  <br>
  <label>Seu nome é: {{ name }}</label> -->

  <input type="text" [(ngModel)]="name" placeholder="Digite seu nome: ">
  <br>
  <br>
  <label>Seu nome é {{ name }}</label>
</div>